@charset "UTF-8";

@import "_reset";
@import "_mixin";
@import "_size";
@import "_color";
@import "_font";

// html {
//   font-family: NanumGothic;
// }

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  color: $primary-color;
  text-decoration: none;

  &:hover {
    color: $text-color;
  }
}

.header {
  @include flexCenter;
  height: 60px;
  background-color: $white;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.12);

  &-wrap {
    @include flexCenter;
    width: 1830px;
    padding: 0 20px;
    height: 100%;
  }
  &__logo {
    cursor: pointer;
    margin-right: 30px;

    > a {
      color: $font-color;
      font-weight: bold;

      > img {
        width: 100px;
      }
    }
  }
  &__nav {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    .left,
    .right {
      @include flexCenter;
    }
    a {
      @include flexCenter;

      height: 100%;
      color: $font-color;
      font-size: $s-14;
      padding: 0 15px;

      &:hover {
        color: $font-color-main;
      }
    }
  }
  &__search {
    @include flexCenter;
    align-self: center;
    width: 405px;
    height: 35px;
    background-color: $gray;
    padding: 0 8px;
    border: 1px solid $gray-border;
    border-radius: 4px;

    .query-input {
      width: 100%;
      margin-left: 15px;
      border: none;
      background: none;
      font-size: $s-14;
      color: $font-color;

      &:focus {
        outline: none;
      }
    }
    .icon {
      width: 16px;
      height: 16px;
    }
  }
  &__account {
    justify-content: flex-end;
  }
  &__action-buttons {
    height: 100%;

    .separator {
      width: 0;
      border-right: 1px solid #eee;
      height: 2em;
    }
  }
  &__button {
    &--login,
    &--join {
      height: 100%;
      font-size: $s-14;
      color: $font-color;
      padding: 0 20px;

      &:hover {
        background-color: $gray-hover;
        text-decoration: underline;
      }
    }
    &--profile {
      img {
        width: 32px;
        height: 32px;
        border-radius: 100%;
      }
    }
  }
}

.button--green {
  display: inline-block;
  font-size: $s-16;
  color: $white;
  background-color: $green-button;
  padding: 12px 60px;
  border-radius: 50px;

  &:hover {
    background-image: $button-gradient;
  }
}

button {
  &.default {
    @include flexCenter;
    @include buttonStyle;

    background-color: $black !important;
    color: $white;

    &:hover {
      background-color: #525252;
    }
  }
  &.primary {
    @include flexCenter;
    @include buttonStyle;

    background-color: $primary-color !important;
    color: $white;

    &:hover {
      background-color: rgba(108, 92, 204, 0.6);
    }
  }
  &.secondary {
    @include flexCenter;
    @include buttonStyle;

    background-color: $white !important;
    color: $text-color;
    border: 1px solid $gray-border;

    &:hover {
      background-color: #54595f !important;
      color: $white;
      border: none;
    }
  }
}
