@charset "UTF-8";

@import "_reset";
// @import "_font";
@import "_mixin";
@import "_size";
@import "_color";

html {
  font-family: NanumGothic;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}
