$gray: #f7f7f7;
$gray-hover: #f3f3f3;
$gray-border: #f6f5fa;
$gray-button: #777;
$skeleton: #e9e9e9;
$font-color: #191b26;
$font-color-main: #515457;
$green-button: #02be6e;
$green-font: #008251;
$link-color: #0a88d3;
$button-gradient: linear-gradient(
  transparent,
  rgba(0, 0, 0, 0.05) 40%,
  rgba(0, 0, 0, 0.1)
);

// new color style
$black: #000;
$white: #fff;
$primary-color: #6c5ccc;
$secondary-color: #54595f;
$accent-color: #61ce70;
$title-color: #191b26;
$text-color: #7a7a7a;

// $primary-color-default: #526eff;
// $primary-color-hover: #3652e3;
// $primary-color-active: #233fd1;

// $black: #111;
// $black-64: rgba(17, 17, 17, 0.64);
// $black-32: rgba(17, 17, 17, 0.32);
// $black-16: rgba(17, 17, 17, 0.16);
