@import "_size";

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin breakpoint {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin fadeIn {
  opacity: 0;

  &.fade-in {
    opacity: 1;
    transition: 0.5s;
  }
}

@mixin transparentContent {
  content: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

@mixin buttonStyle {
  height: 42px;
  font-size: 15px;
  padding: 9px 24px;
  letter-spacing: 0.04em;
  border-radius: 30px;
}
