@import "_size";

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin breakpoint {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin fadeIn {
  opacity: 0;

  &.fade-in {
    opacity: 1;
    transition: 0.5s;
  }
}
