$s-32: 32px;
$s-30: 30px;
$s-16: 16px;
$s-15: 15px;
$s-14: 14px;
$s-13: 13px;

$s-h1: 8rem;
$s-h2: 3.4rem;
$s-h3: 3rem;
$s-h4: 1.8rem;
$s-h5: 1.4rem;
$s-h6: 1.2rem;

$breakpoint-laptop: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile-l: 425px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-s: 320px;
