/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a,
button {
  cursor: pointer;
}

html {
  font-family: NanumGothic;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.12);
}

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1830px;
  padding: 0 20px;
  height: 100%;
}

.header__logo {
  cursor: pointer;
  margin-right: 30px;
}

.header__logo > a {
  color: #191b26;
  font-weight: bold;
}

.header__logo > a > img {
  width: 100px;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 405px;
  height: 35px;
  background-color: #f7f7f7;
  padding: 0 8px;
  border: 1px solid #f6f5fa;
  border-radius: 4px;
}

.header__search .query-input {
  width: 100%;
  margin-left: 15px;
  border: none;
  background: none;
  font-size: 14px;
  color: #191b26;
}

.header__search .query-input:focus {
  outline: none;
}

.header__search .icon {
  width: 16px;
  height: 16px;
}

.header__nav {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
}

.header__nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #191b26;
  font-size: 14px;
  padding: 0 15px;
}

.header__nav > a:hover {
  color: #515457;
}

.header__account {
  justify-content: flex-end;
}

.header__action-buttons {
  height: 100%;
}

.header__action-buttons .separator {
  width: 0;
  border-right: 1px solid #eee;
  height: 2em;
}

.header__button--login, .header__button--join {
  height: 100%;
  font-size: 14px;
  color: #191b26;
  padding: 0 20px;
}

.header__button--login:hover, .header__button--join:hover {
  background-color: #f3f3f3;
  text-decoration: underline;
}

.header__button--profile img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.button--green {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background-color: #02be6e;
  padding: 12px 60px;
  border-radius: 50px;
}

.button--green:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

body {
  width: 100%;
}

.wrap {
  width: 1310px;
  padding: 0 20px;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.content-container .content {
  display: flex;
}

.photo-container {
  flex: 1;
  margin-right: 50px;
}

.photo-container .photo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo-container .photo > img {
  object-fit: contain;
  box-shadow: rgba(0, 0, 30, 0.3) 0px 1px 3px 0px;
  max-width: 100%;
  max-height: 500px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 12px;
}

.tag-list .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #cecece;
  box-sizing: border-box;
}

.tag-list .tag > a {
  color: #777;
}

.info-container {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.info-container > hr {
  width: 100%;
  border: unset;
  border-top: 1px solid #eeeff2;
}

.info-container .user-info {
  display: flex;
}

.info-container .user-info > img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 12px;
}

.info-container .user-info__name {
  font-size: 15px;
  color: #555;
}

.info-container .button--download {
  height: 42px;
  font-size: 16px;
  color: #fff;
  background-color: #02be6e;
  border-radius: 50px;
}

.info-container .button--download > img {
  width: 16px;
  height: 16px;
  margin-right: 8px;
}

.info-container .button--download:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.info-container .outer {
  padding: 15px 20px;
  background-color: #f6f5fa;
}

.info-container .license-info > .title {
  font-size: 16px;
  margin-bottom: 5px;
}

.info-container .license-info > .title > a {
  text-decoration: underline;
  color: #636363;
}

.info-container .license-info > .description {
  font-size: 14px;
  line-height: 21px;
  color: #191b26;
}
