@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a,
button {
  cursor: pointer;
}

@font-face {
  font-family: NanumGothic;
  src: url(../res/font/NanumGothic/NanumGothic-Regular.eot);
  src: url(../res/font/NanumGothic/NanumGothic-Regular.eot?#iefix) format("embedded-opentype"), url(../res/font/NanumGothic/NanumGothic-Regular.woff2) format("woff2"), url(../res/font/NanumGothic/NanumGothic-Regular.woff) format("woff"), url(../res/font/NanumGothic/NanumGothic-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: NanumGothic;
  src: url(../res/font/NanumGothic/NanumGothic-Bold.eot);
  src: url(../res/font/NanumGothic/NanumGothic-Bold.eot?#iefix) format("embedded-opentype"), url(../res/font/NanumGothic/NanumGothic-Bold.woff2) format("woff2"), url(../res/font/NanumGothic/NanumGothic-Bold.woff) format("woff"), url(../res/font/NanumGothic/NanumGothic-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: CarneysGallery;
  src: url(../res/font/CarneysGallery/CarneysGallery.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: SabenyBetranss;
  src: url(../res/font/SabenyBetranss/SabenyBetranss.otf), url(../res/font/SabenyBetranss/SabenyBetranss.ttf) format("truetype");
  font-style: normal;
  font-weight: normal;
}

html {
  font-family: NanumGothic;
  font-size: 10px;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
  color: #6c5ccc;
  text-decoration: none;
}

a:hover {
  color: #7a7a7a;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.12);
}

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1830px;
  padding: 0 20px;
  height: 100%;
}

.header__logo {
  cursor: pointer;
  margin-right: 30px;
}

.header__logo > a {
  color: #191b26;
  font-weight: bold;
}

.header__logo > a > img {
  width: 100px;
}

.header__nav {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.header__nav .left,
.header__nav .right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #191b26;
  font-size: 14px;
  padding: 0 15px;
  box-sizing: border-box;
  width: 72px;
}

.header__nav a:hover {
  color: #515457;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 405px;
  height: 35px;
  background-color: #f7f7f7;
  padding: 0 8px;
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.header__search .query-input {
  width: 100%;
  margin-left: 15px;
  border: none;
  background: none;
  font-size: 14px;
  color: #191b26;
}

.header__search .query-input:focus {
  outline: none;
}

.header__search .icon {
  width: 16px;
  height: 16px;
}

.header__account {
  justify-content: flex-end;
}

.header__action-buttons {
  height: 100%;
}

.header__action-buttons .separator {
  width: 0;
  border-right: 1px solid #eee;
  height: 2em;
}

.header__button--login, .header__button--join {
  height: 100%;
  font-size: 14px;
  color: #191b26;
  padding: 0 20px;
}

.header__button--login:hover, .header__button--join:hover {
  background-color: #f3f3f3;
  text-decoration: underline;
}

.header__button--profile img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.button--green {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background-color: #02be6e;
  padding: 12px 60px;
  border-radius: 50px;
}

.button--green:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

button.default {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 6px 12px;
  letter-spacing: 0.04em;
  border-radius: 30px;
  background-color: #000 !important;
  color: #fff;
}

button.default:hover {
  background-color: #525252;
}

button.primary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 6px 12px;
  letter-spacing: 0.04em;
  border-radius: 30px;
  background-color: #6c5ccc !important;
  color: #fff;
}

button.primary:hover {
  background-color: rgba(108, 92, 204, 0.6);
}

button.secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 6px 12px;
  letter-spacing: 0.04em;
  border-radius: 30px;
  background-color: #fff !important;
  color: #7a7a7a;
  border: 1px solid #dee2e6;
}

button.secondary:hover {
  background-color: #54595f !important;
  color: #fff;
  border: none;
}

/* 반응형 */
@media (max-width: calc(768px + 1px)) {
  .header__search {
    width: unset;
  }
}

body {
  width: 100%;
}

.wrap {
  width: 1310px;
  padding: 0 20px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px 0;
}

.content .wrap {
  display: flex;
  flex-direction: column;
}

.content .photo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.content .photo > img {
  opacity: 0;
  object-fit: contain;
  max-width: 100%;
  height: 60vh;
}

.content .photo > img.fade-in {
  opacity: 1;
  transition: 0.5s;
}

.content .photo > img:not([src]) {
  content: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
  opacity: 1;
  width: 100%;
  background-color: #e9e9e9;
}

.content-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  gap: 10px;
}

.content-info .photo-info {
  display: flex;
  align-items: center;
  height: 22px;
}

.content-info .photo-info__last-updated, .content-info .photo-info__bookmark-button, .content-info .photo-info__download-count {
  display: flex;
  align-items: center;
  margin-left: 12px;
  border-left: 1px #7a7a7a solid;
  padding-left: 12px;
  color: #7a7a7a;
  font-size: 1.4rem;
  height: 100%;
}

.content-info .photo-info__last-updated > span, .content-info .photo-info__bookmark-button > span, .content-info .photo-info__download-count > span {
  color: #6c5ccc;
}

.content-info .photo-info__bookmark-button > svg {
  width: 13px;
  height: 100%;
}

.content-info .photo-info__bookmark-button > svg > path {
  stroke: #7a7a7a;
}

.content-info .photo-info__bookmark-button.check > svg {
  fill: #7a7a7a;
}

.content-info .photo-info__bookmark-button:hover {
  opacity: 0.7;
}

.content-info .user-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-info .user-info__profile {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  margin-right: 8px;
}

.content-info .user-info__profile:not([src]) {
  content: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
  background-color: #e9e9e9;
}

.content-info .user-info__name {
  font-size: 1.4rem;
  color: #7a7a7a;
}

.content-info .user-info__name:empty {
  opacity: 1;
  width: 100px;
  background-color: #e9e9e9;
}

.content-info .license-info {
  font-size: 1.4rem;
  margin-left: auto;
}

.download-container {
  border: 1px solid #dee2e6;
  border-radius: 4px;
}

.download-container .title {
  font-size: 1.8rem;
  padding: 16px 24px;
  color: #7a7a7a;
  font-weight: bold;
  border-bottom: 1px solid #dee2e6;
}

.download-container details {
  font-size: 1.4rem;
}

.download-container details > summary {
  color: #7a7a7a;
  cursor: pointer;
  padding: 16px 24px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.download-container details > summary::-webkit-details-marker, .download-container details > summary::marker {
  display: none;
}

.download-container details > summary::after {
  content: "";
  background: url(/res/img/icon/fold.svg) no-repeat;
  background-size: 14px 7px;
  width: 14px;
  height: 7px;
}

.download-container details[open] {
  background-color: #f5f5f5;
}

.download-container details[open] > summary {
  font-weight: bold;
}

.download-container details[open] > summary::after {
  transform: rotate(180deg);
}

.download-container details:not(:last-child) {
  border-bottom: 1px solid #dee2e6;
}

.download-container .item-list {
  padding: 8px 24px;
}

.download-container .item {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: repeat(2, 1fr);
}

.download-container .item__title {
  font-size: 1.4rem;
  color: #7a7a7a;
  margin-bottom: 4px;
}

.download-container .item__resolution {
  font-size: 1.2rem;
  grid-column: -3/-2;
  grid-row: 2/3;
  color: #7a7a7a;
}

.download-container .item__download-button {
  grid-row: -3/-1;
  content: "";
  background: url(/res/img/icon/download-icon--gray.png) no-repeat center;
  width: 50px;
}

.download-container .item__download-button:hover {
  background-image: url(/res/img/icon/download-icon.png);
}

.download-container .item:nth-of-type(n + 2) {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #e0e0e0;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  gap: 12px;
}

.tag-list:empty {
  opacity: 1;
  background-color: #e9e9e9;
  width: 100%;
  height: 28px;
}

.tag-list .tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 28px;
  padding: 2px 10px;
  font-size: 12px;
  border-radius: 20px;
  border: 1px solid #cecece;
  box-sizing: border-box;
}

.tag-list .tag > a {
  color: #777;
}
