/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

a,
button {
  cursor: pointer;
}

html {
  font-family: NanumGothic;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
}

a {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.12);
}

.header-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1830px;
  padding: 0 20px;
  height: 100%;
}

.header__logo {
  cursor: pointer;
  margin-right: 30px;
}

.header__logo > a {
  color: #191b26;
  font-weight: bold;
}

.header__logo > a > img {
  width: 100px;
}

.header__search {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 405px;
  height: 35px;
  background-color: #f7f7f7;
  padding: 0 8px;
  border: 1px solid #f6f5fa;
  border-radius: 4px;
}

.header__search .query-input {
  width: 100%;
  margin-left: 15px;
  border: none;
  background: none;
  font-size: 14px;
  color: #191b26;
}

.header__search .query-input:focus {
  outline: none;
}

.header__nav {
  height: 100%;
  flex: 1;
  display: flex;
  align-items: stretch;
}

.header__nav > a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #191b26;
  font-size: 14px;
  padding: 0 15px;
}

.header__nav > a:hover {
  color: #515457;
}

.header__account {
  justify-content: flex-end;
}

.header__action-buttons {
  height: 100%;
}

.header__action-buttons .separator {
  width: 0;
  border-right: 1px solid #eee;
  height: 2em;
}

.header__button--login, .header__button--join {
  height: 100%;
  font-size: 14px;
  color: #191b26;
  padding: 0 20px;
}

.header__button--login:hover, .header__button--join:hover {
  background-color: #f3f3f3;
  text-decoration: underline;
}

.header__button--profile img {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.button--green {
  display: inline-block;
  font-size: 16px;
  color: #fff;
  background-color: #02be6e;
  padding: 12px 60px;
  border-radius: 50px;
}

.button--green:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

body {
  width: 100%;
  margin-bottom: 50px;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1830px;
  padding: 0 40px;
}

.introduction {
  position: relative;
  width: 100%;
  height: 530px;
}

.introduction__background {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.introduction__background > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.introduction__background .dark-effect {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}

.introduction__information {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 160px 40px 15px;
  box-sizing: border-box;
}

.introduction__information .title {
  font-size: 32px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 30px;
}

.introduction__information .description {
  font-size: 16px;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}

.introduction__information .search-form {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 800px;
  height: 60px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 0 15px;
  box-sizing: border-box;
}

.introduction__information .search-form > img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.introduction__information .search-form .query-input {
  flex: 1;
  font-size: 16px;
  color: #191b26;
  border: none;
}

.introduction__information .search-form .query-input:focus {
  outline: none;
}

.introduction__information .user-name {
  position: absolute;
  bottom: 15px;
}

.introduction__information .user-name > a {
  font-size: 14px;
  color: #fff;
}

.photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 10px;
}

.photo-container .photo-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 45px;
}

.photo-container .item {
  position: relative;
  flex: auto;
  min-width: 220px;
  height: 280px;
  background-color: #f7f7f7;
}

.photo-container .item:nth-child(4n + 1) {
  width: 250px;
}

.photo-container .item:nth-child(4n + 1):nth-child(4n + 2) {
  width: 325px;
}

.photo-container .item:nth-child(4n + 1):nth-child(4n + 3) {
  width: 180px;
}

.photo-container .item:nth-child(4n + 1):nth-child(4n + 4) {
  width: 380px;
}

.photo-container .item__photo-link {
  position: absolute;
  width: 100%;
  height: 100%;
}

.photo-container .item__photo-link > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo-container .item .info-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0, transparent);
  transition: 0.25s;
  opacity: 0;
}

.photo-container .item .info-container.hover {
  opacity: 1;
}

.photo-container .item .info-container .user-info {
  display: flex;
  align-items: center;
  margin-right: 8px;
  overflow: hidden;
}

.photo-container .item .info-container .user-info > img {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  border-radius: 100%;
}

.photo-container .item .info-container .user-info .user-name {
  font-size: 15px;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
}

.photo-container .item .info-container .download-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 30px;
  border-radius: 4px;
  background-color: #f7f7f7;
}

.photo-container .item .info-container .download-button::after {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url("/res/img/icon/download-icon--gray.png");
  background-size: 15px;
}

.photo-container .item .info-container .download-button:hover {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
}

.additional-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 150px 0 200px;
}

.additional-description > .wrap {
  width: 1024px;
}

.additional-description .title {
  color: #515457;
  font-size: 30px;
  margin-bottom: 20px;
}

.additional-description .description {
  color: #191b26;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.additional-description .description > a {
  color: #0a88d3;
}
