.main {
  @include flexCenter;
  background-color: #f6f5fa;

  .photo-container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .total-label {
    display: flex;
    align-items: center;
    color: #bbb;
    font-size: $s-13;
    margin-bottom: 15px;

    > span {
      margin-left: 4px;
      width: 48px; // 통신 후 unset됨
    }
  }
  .photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100vh; // 기본값 -> 요소 동적 추가 후 unset됨
  }
  .item {
    position: relative;
    flex: auto;
    min-width: 220px;
    height: 280px;
    background-color: #efefef;

    &:nth-child(4n + 1) {
      width: 250px;
    }
    &:nth-child(4n + 1):nth-child(4n + 2) {
      width: 325px;
    }
    &:nth-child(4n + 1):nth-child(4n + 3) {
      width: 180px;
    }
    &:nth-child(4n + 1):nth-child(4n + 4) {
      width: 380px;
    }
    &__photo {
      @include fadeIn;

      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .info-container {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        transparent,
        rgba(0, 0, 0, 0.6)
      );
      cursor: pointer;

      // transition
      transition: 0.25s;
      opacity: 0;
      &.hover {
        opacity: 1;
      }
      // transition end

      .top {
        display: flex;
        justify-content: flex-end;

        .bookmark-button {
          width: 20px;
          height: 20px;

          > svg {
            width: 100%;
            height: 100%;
          }
          &.check {
            > svg {
              fill: $white;
            }
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;

        .user-info {
          display: flex;
          align-items: center;
          margin-right: 8px;
          overflow: hidden;

          > img {
            width: 32px;
            height: 32px;
            margin-right: 8px;
            border-radius: 100%;
          }
          .user-name {
            font-size: 15px;
            text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
            color: $white;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .download-button {
          @include flexCenter;

          min-width: 30px;
          border-radius: 4px;
          background-color: $gray;

          &::after {
            @include flexCenter;
            content: url("/res/img/icon/download-icon--gray.png");
            background-size: 15px;
          }

          &:hover {
            background-image: $button-gradient;
          }
        }
      }
    }
  }
  .empty-guide {
    display: none;
    margin: 240px 0 240px 20px;

    &__title {
      font-weight: bold;
      font-size: $s-15;
      color: $font-color;
      margin-bottom: 30px;
    }
    &__check-list {
      font-size: $s-15;
      color: $font-color;

      > li {
        list-style: inside;
        line-height: 28px;
      }
      .space {
        margin-bottom: 15px;
      }
    }
  }
}

.pagination {
  @include flexCenter;

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__button {
    &--next-page {
      @include flexCenter;

      width: 240px;
      height: 39px;
      padding: 0 22px;
      box-sizing: border-box;
      background-color: #e6e6e6;
      font-size: $s-16;
      border-radius: 50px;
      margin: 50px 0;
      color: $font-color;

      &:hover {
        color: $green-font;
        text-decoration: underline;
        background-image: $button-gradient;
      }
    }
    &--prev,
    &--next {
      @include flexCenter;

      width: 36px;
      border-radius: 50px;
      color: $gray-button;
      font-weight: bold;
      display: inline-flex;
      justify-content: center;
      align-content: center;
      box-shadow: 0 0 2px rgb(206, 206, 206) inset;
      border: 1px solid rgb(206, 206, 206);

      &:hover {
        background-image: linear-gradient(
          transparent,
          rgba(0, 0, 0, 0.1) 40%,
          rgba(0, 0, 0, 0.2)
        );
      }
    }
    &--next {
      margin-left: 10px;
    }
  }
  &__separator {
    width: 100%;
    border-bottom: 1px solid #f0f1f4;
  }
  &__bottom {
    @include flexCenter;
    justify-content: space-between;
    padding-top: 11px;
    width: 100%;

    .total-label {
      display: flex;
      align-items: center;
      font-size: $s-13;

      > span {
        margin-left: 4px;
      }
    }
  }
  &__navigator {
    @include flexCenter;

    height: 23px;
    align-items: stretch;
  }
  &__input-page {
    width: 28px;
    font-size: $s-13;
    box-shadow: inset 0 1px 3px #ddd;
    border: 1px solid #ccc;
    text-align: center;
    border-radius: 2px;

    /* 화살표 제거 */
    /* Firefox */
    -moz-appearance: textfield;
    /* Chrome, Safari, Edge, Opera */
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:focus {
      outline: #129fea solid 1px;
    }
  }
  &__last-page {
    font-size: $s-13;
    display: inline-flex;
    align-items: center;
    padding: 0 8px 0 4px;

    &::before {
      content: "/";
      padding-right: 2px;
      font-size: $s-13;
    }
  }
}
