@import "./common/base";

body {
  width: 100%;
}

.wrap {
  width: 1310px;
  padding: 0 20px;
}

.content {
  @include flexCenter;
  margin: 32px 0;

  .wrap {
    display: flex;
    flex-direction: column;
  }
  &__photo {
    @include flexCenter;

    margin-bottom: 50px;

    > img {
      @include fadeIn;

      object-fit: contain;
      max-width: 100%;
      height: 70vh;

      &:not([src]) {
        @include transparentContent;
        opacity: 1;
        width: 100%;
        background-color: $skeleton;
      }
    }
  }
  &__info {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    height: 22px;

    .user-info {
      @include flexCenter;

      &__profile {
        width: 22px;
        height: 22px;
        border-radius: 100%;
        margin-right: 8px;

        &:not([src]) {
          @include transparentContent;
          background-color: $skeleton;
        }
      }
      &__name {
        font-size: $s-h6;
        color: $text-color;

        &:empty {
          opacity: 1;
          width: 100px;
          background-color: $skeleton;
        }
      }
    }
    &__last-updated,
    &__bookmark-button,
    &__download-count {
      display: flex;
      align-items: center;
      margin-left: 12px;
      border-left: 1px $text-color solid;
      padding-left: 12px;
      color: $text-color;
      font-size: $s-h6;
      height: 100%;

      > span {
        color: $primary-color;
      }
    }
    &__bookmark-button {
      > svg {
        width: 13px;
        height: 100%;

        > path {
          stroke: $text-color;
        }
      }
      &.check {
        > svg {
          fill: $text-color;
        }
      }
      &:hover {
        opacity: 0.7;
      }
    }
    &__license {
      font-size: 12px;
      margin-left: auto;
    }
  }
  &__download-container {
    max-width: 600px;

    .title {
      font-size: $s-h4;
      margin-bottom: 20px;
      color: $text-color;
    }
    details {
      margin-bottom: 30px;
      font-size: $s-h5;

      > summary {
        margin-bottom: 15px;
        color: $text-color;
        padding-bottom: 15px;
        border-bottom: 1px solid $secondary-color;
        cursor: pointer;
      }
    }
    .item-list {
      padding: 0 20px;
    }
    .item {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-template-rows: repeat(2, 1fr);

      &__title {
        font-size: $s-h5;
        color: $text-color;
      }
      &__resolution {
        font-size: 15px;
        grid-column: -3/-2;
        grid-row: 2/3;
        color: $text-color;
      }
      &__download-button {
        grid-row: -3/-1;
      }
      &:nth-of-type(n + 2) {
        margin-top: 10px;
        padding-top: 10px;
        border-top: 1px solid #e0e0e0;
      }
    }
  }
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 15px;
  gap: 12px;

  &:empty {
    opacity: 1;
    background-color: $skeleton;
    width: 100%;
    height: 28px;
  }
  .tag {
    @include flexCenter;

    height: 28px;
    padding: 2px 10px;
    font-size: 12px;
    border-radius: 20px;
    border: 1px solid #cecece;
    box-sizing: border-box;

    > a {
      color: $gray-button;
    }
  }
}
