@import "./common/base";
@import "./photoList";

body {
  width: 100%;
  margin-bottom: 50px;
  background-color: #1a1a1a;
}

.wrap {
  @include flexCenter;
  // flex-direction: column;
  max-width: 1830px;
  padding: 0 40px;
}

.introduction {
  @include flexCenter;

  position: relative;
  height: 530px;
  width: 100%;

  &__background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .dark-effect {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  &__foreground {
    @include flexCenter;

    width: 100%;
    height: 100%;
    position: absolute;

    &.wrap {
      // max-width: 1600px;
      box-sizing: border-box;
    }
  }
  .left {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 40px;
    align-items: center;

    .title {
      font-family: CarneysGallery;
      font-size: 8rem;
      color: $white;
      margin-bottom: 30px;
      position: relative;
      height: 150px;
      display: flex;
      justify-content: center;

      .text--cursive {
        font-size: 12rem;
        position: absolute;
        font-family: SabenyBetranss;
        top: 50px;
        color: #c2c2c2;
      }
    }
    .description {
      font-size: $s-16;
      color: $white;
      margin-bottom: 40px;
    }
    .search-form {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 800px;
      height: 60px;
      background-color: $white;
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 0 15px;
      box-sizing: border-box;

      > img {
        width: 20px;
        height: 20px;
        margin-right: 15px;
      }
      .query-input {
        flex: 1;
        font-size: $s-16;
        color: $font-color;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
    .user-name {
      position: absolute;
      bottom: 15px;

      > a {
        font-size: $s-14;
        color: $white;
      }
    }
  }
  .right {
    @include flexCenter;

    flex: 1;
    width: 100%;
    height: 100%;

    .frame {
      width: 80%;
      height: 0;
      padding-bottom: 56.25%;
      border: 3px solid $white;
    }
  }
}

.photo-container {
  @include flexCenter;
  margin: 20px 0 10px;
  // background-color: #fafafa;

  .photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 50px;
    margin-bottom: 45px;
  }
  .item {
    position: relative;
    flex: auto;
    min-width: 300px;
    height: 350px;
    background-color: $gray;

    &:nth-child(4n + 1) {
      width: 270px;
    }
    &:nth-child(4n + 1):nth-child(4n + 2) {
      width: 345px;
    }
    &:nth-child(4n + 1):nth-child(4n + 3) {
      width: 220px;
    }
    &:nth-child(4n + 1):nth-child(4n + 4) {
      width: 400px;
    }
    &__photo {
      @include fadeIn;

      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .info-container {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.6),
        transparent,
        rgba(0, 0, 0, 0.6)
      );
      cursor: pointer;

      // transition
      transition: 0.25s;
      opacity: 0;
      &.hover {
        opacity: 1;
        cursor: zoom-in;
      }
      // transition end

      .top {
        display: flex;
        justify-content: flex-end;

        .bookmark-button {
          width: 20px;
          height: 20px;

          > svg {
            width: 100%;
            height: 100%;
          }
          &.check {
            > svg {
              fill: $white;
            }
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
      .bottom {
        display: flex;
        justify-content: space-between;

        .user-info {
          display: flex;
          align-items: center;
          margin-right: 8px;
          overflow: hidden;

          > img {
            width: 32px;
            height: 32px;
            margin-right: 8px;
            border-radius: 100%;
          }
          .user-name {
            font-size: 15px;
            text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
            color: $white;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
        .download-button {
          @include flexCenter;

          min-width: 30px;
          border-radius: 4px;
          background-color: $gray;

          &::after {
            @include flexCenter;
            content: url("/res/img/icon/download-icon--gray.png");
            background-size: 15px;
          }

          &:hover {
            background-image: $button-gradient;
          }
        }
      }
    }
  }
}

.additional-description {
  @include flexCenter;
  margin: 150px 0 200px;

  > .wrap {
    width: 1024px;
  }
  .title {
    color: $font-color-main;
    font-size: $s-30;
    margin-bottom: 20px;
  }
  .description {
    color: $font-color;
    font-size: $s-16;
    line-height: 26px;
    text-align: center;

    > a {
      color: $link-color;
    }
  }
}

/* 반응형 - laptop */
@include laptop {
  .introduction {
    .right {
      display: none;
    }
  }
}

/* 반응형 - mobile-l */
@include mobile-l {
  .introduction {
    .left {
      .title {
        height: 100px;
        font-size: 6.4rem;

        .text--cursive {
          top: 32px;
          font-size: 9.6rem;
        }
      }
    }
  }

  .photo-container {
    .item {
      min-width: unset;
      width: 100%;
    }
  }
}

/* 반응형 - mobile-m */
@include mobile-m {
  .introduction {
    .left {
      .title {
        // height: 100px;
        font-size: 5.6rem;

        .text--cursive {
          // top: 32px;
          font-size: 8.4rem;
        }
      }
    }
  }
}

/* 반응형 - mobile-s */
@include mobile-m {
  .introduction {
    .left {
      .title {
        // height: 100px;
        font-size: 4.8rem;

        .text--cursive {
          // top: 32px;
          font-size: 7.2rem;
        }
      }
    }
  }
}
