@import "./common/base";

body {
  width: 100%;
  margin-bottom: 50px;
}

.wrap {
  @include flexCenter;
  flex-direction: column;
  max-width: 1830px;
  padding: 0 40px;
}

.introduction {
  position: relative;
  width: 100%;
  height: 530px;

  &__background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .dark-effect {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
    }
  }
  &__information {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 160px 40px 15px;
    box-sizing: border-box;

    .title {
      font-size: $s-32;
      font-weight: bold;
      color: $white;
      margin-bottom: 30px;
    }
    .description {
      font-size: $s-16;
      color: $white;
      margin-bottom: 40px;
      text-align: center;
    }
    .search-form {
      display: flex;
      align-items: center;
      width: 100%;
      max-width: 800px;
      height: 60px;
      background-color: $white;
      border: 1px solid #eee;
      border-radius: 5px;
      padding: 0 15px;
      box-sizing: border-box;

      > img {
        width: 20px;
        height: 20px;
        margin-right: 15px;
      }
      .query-input {
        flex: 1;
        font-size: $s-16;
        color: $font-color;
        border: none;

        &:focus {
          outline: none;
        }
      }
    }
    .user-name {
      position: absolute;
      bottom: 15px;

      > a {
        font-size: $s-14;
        color: $white;
      }
    }
  }
}

.photo-container {
  @include flexCenter;
  margin: 20px 0 10px;

  .photo-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 45px;
  }
  .item {
    position: relative;
    flex: auto;
    min-width: 220px;
    height: 280px;
    background-color: $gray;

    &:nth-child(4n + 1) {
      width: 250px;
    }
    &:nth-child(4n + 1):nth-child(4n + 2) {
      width: 325px;
    }
    &:nth-child(4n + 1):nth-child(4n + 3) {
      width: 180px;
    }
    &:nth-child(4n + 1):nth-child(4n + 4) {
      width: 380px;
    }

    &__photo-link {
      position: absolute;
      width: 100%;
      height: 100%;

      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .info-container {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0, transparent);

      // transition
      transition: 0.25s;
      opacity: 0;
      &.hover {
        opacity: 1;
      }
      // transition end

      .user-info {
        display: flex;
        align-items: center;
        margin-right: 8px;
        overflow: hidden;

        > img {
          width: 32px;
          height: 32px;
          margin-right: 8px;
          border-radius: 100%;
        }
        .user-name {
          font-size: 15px;
          text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
          color: $white;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .download-button {
        @include flexCenter;

        min-width: 30px;
        border-radius: 4px;
        background-color: $gray;

        &::after {
          @include flexCenter;
          content: url("/res/img/icon/download-icon--gray.png");
          background-size: 15px;
        }

        &:hover {
          background-image: $button-gradient;
        }
      }
    }
  }
}

.additional-description {
  @include flexCenter;
  margin: 150px 0 200px;

  > .wrap {
    width: 1024px;
  }
  .title {
    color: $font-color-main;
    font-size: $s-30;
    margin-bottom: 20px;
  }
  .description {
    color: $font-color;
    font-size: $s-16;
    line-height: 26px;
    text-align: center;

    > a {
      color: $link-color;
    }
  }
}
